<div *ngIf="getCandidatesState == 1">
  <div class="alert alert-info">
    <strong>Running</strong> Creating list of all candidates...
  </div>
</div>
<div *ngIf="getCandidatesState == 2">
<div class="list-group">
  <div *ngIf="getVotedState == 2 && !getVotedResp" class="alert alert-info">
    <strong>Introduction</strong>
    You can place your first vote by picking an item from the list.
  </div>
  <div *ngIf="getVotedState == 2 && getVotedResp" class="alert alert-info">
    <strong>Voting</strong>
    You can change your current vote by picking an item from the list.
  </div>

  <!-- <li *ngFor="let candidate of getCandidatesResp"> -->
  <div *ngFor="let candidate of getCandidatesResp">
    <button *ngIf="getVotedResp.votedid == candidate.identifier" type="button" class="list-group-item list-group-item-action active" (click)="clicked(candidate.identifier)">
      <img src="{{candidate.image_url}}" align="left" height="200px">
      <h4 class="list-group-item-heading">Number: {{candidate.identifier}}</h4>
      <h6 class="list-group-item-heading">Party: {{candidate.party}}</h6>
      <h6 class="list-group-item-heading">Name: {{candidate.firstname}} {{candidate.lastname}}</h6>
      <h6 class="list-group-item-heading">Age: {{candidate.age}}</h6>
      <h6 class="list-group-item-heading">Town: {{candidate.hometown}}</h6>
      <h6 class="list-group-item-heading">Occupation: {{candidate.occupation}}</h6>
      <h6 class="list-group-item-heading">Motto: {{candidate.motto}}</h6>
    </button>
    <button *ngIf="getVotedResp.votedid != candidate.identifier" type="button" class="list-group-item list-group-item-action" (click)="clicked(candidate.identifier)">
      <h4>{{candidate.identifier}}</h4>
    </button>
  </div>

</div>
<div *ngIf="getCandidatesState == 3">
  <div class="alert alert-danger">
    <strong>Can't log in:</strong>
    Make sure you have verified your email address!
  </div>
  <div class="alert alert-info">
    <strong>Note:</strong>
    The email to be verified has been sent to your email address. Check your inbox.
  </div>
  <div class="alert alert-info">
    <strong>Note:</strong>
    If you have verified your email address then try to log out and log in again.
  </div>
</div>

