<!-- <div class="container"> -->
<!--   <div class="jumbotron"> -->
<!--     <h1>About application</h1> -->
<!--     <p>TheVoter is a generic application for voting.</p> -->
<!--   </div> -->
<!-- </div> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">About application</h1>
    <p class="lead">TheVoter is a generic application for voting.</p>
  </div>
</div>

