<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/brand">TheVoter</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active" *ngIf="auth.authenticated()">
      <a class="nav-link" routerLink="/voter">Candidates<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <!-- <input class="form&#45;control" type="text" placeholder="Search"> -->
    <!-- <button class="btn btn&#45;outline&#45;success" type="submit">Search</button> -->
    <button class="btn btn-primary btn-margin" (click)="login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="btn btn-primary btn-margin" (click)="logout()" *ngIf="auth.authenticated()">Log Out</button>
  </form>
</nav>

